<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>

    <div class='container'>
        <h3>Latest Mars News</h3>
        <p><h5>{{mars.news_title}}</h5></p>
        <p><h7>{{mars.news_paragraph}}</h7></p>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Featured Mars Image</h3>
                    <img class="col-xs-12" src={{mars.featured_image}} alt="featured_image">
                </div>
            </div>
        </div>
        <div>
            <h5>Mars Facts</h5>
            {{mars.facts_table | safe}}
        </div>

    </div>
    <div class:"row">
        <h3 align="center">Mars Hemispheres</h3>
            {% for item in mars.hemispheres %}
            <figure class="col-xs-6">
                <img class ="figure-image col-xs-12" src={{item.img_url}} alt="img_url">
                <figcaption><h3 align="center">{{item.title}}</h3> </figcaption>  
            </figure>
            {% endfor %}
        
    </div>

    </div>
    
</body>

</html>
